@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 background-color: #006035;
}

.BackgroundTotal {
  background-color: #ffffff;
}

/*NavBAr*/
.header {
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    width: 100%;
    padding: 15px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
   
/*LoginForm*/
.container {
    width: 100%;
    max-width: 350px;
    padding: 40px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 30px;
    margin-top: 30px;   
}

.LogoForm {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: -10px;
    
}

.input-group {
    margin-bottom: 10px;
    text-align: left;
}

.input-group p {
    margin-bottom: 5px;
    margin-left: 7px;
    font-size: 15px;
    color: #2d7c59;
}

.input-with-icon {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    background-color: #f9f9f9;
}

.input-with-icon input {
    border: none;
    outline: none;
    flex: 1;
    background-color: transparent;
}

.icon {
    margin-right: 10px;
    font-size: 15px;
    color: #2d7c59;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 30px;
    margin-top: -5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #006035;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #01aa5e;
}

/*SisContigencia*/
.main-content {
  margin-top: -30px;
  margin-left: -50px;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: transparent;
}

.form-card {
  background-color: #F5F5F5;
  width: 550px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);

}

.form-card h3 {
  background-color: #006035;
  color: #fff;
  padding: px;
  border-radius: 8px 8px 0 0;
  margin-top: 0px;
 

}

.form-group {
  margin: 10px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input, 
.form-group select { 
    width: 50%; 
    padding: 5px; 
    border: 1px solid #ddd; 
    border-radius: 4px;
    text-align: left; 
}

.form-group input:focus, 
.form-group select:focus {
    border-color: #006035; 
    outline: none; 
}

button {
  background-color: #006035;
  color: #ffffff;
  border: none;
  padding: 4px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #02b363;
}

.AjusteSideBar {
  display: flex; 
  flex-direction: row; 
}

.sidebar {
    width: 270px;
    background-color: #014e2b;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: -5px;
     
  }
  
  .sidebar-section {
    background-color: #ffffff; 
    color: #004d00; 
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
  }
  
  .sidebar-section:first-child {
    flex-grow: 1; 
  }
  
  .sidebar-section h3 {
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
    margin-left: 10px;
    font-weight: bold;

  }
  
  .sidebar-section ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar-section ul li {
    margin: 10px 0;
    cursor: pointer;
  }
  
  .sidebar-section ul li:hover {
    text-decoration: underline;
  }
  
  